<div class="ui container">
  <h1>
    Start your new Angular2 project with less effort.
  </h1>
  <h2 class="ui center aligned text-center">
    <a class="ui red button large" href="https://angular.io">Angular2</a>
    <a class="ui green button large" href="http://hapijs.com/">HapiJS</a>
    <a class="ui blue button large" href="http://www.mysql.com">MySQL</a>
    <a class="ui yellow button large" href="http://bookshelfjs.org/">BookshelfJS</a>
    <a class="ui black button large" href="http://semantic-ui.com/">Semantic UI</a>
    <a class="ui olive button large" href="http://gruntjs.com/">GruntJS</a>
  </h2>
  <p>
    Clone this repository and start building your app right away.
  </p>
  <div class="ui text column">
    <pre>
    <code>
git clone https://github.com/jkuri/angular2-fullstack.git app
cd app
npm install
cd semantic
gulp build
cd ..
grunt
    </code>
    </pre>
  </div>
  <div class="column">
    <a class="ui blue huge button center aligned" href="https://github.com/jkuri/angular2-fullstack">
      <i class="icon github"></i>
      View Project on Github
    </a>
  </div>
</div>